#layout.pure-g-r
  #refine.pure-u
    = refine_links

  #main.pure-u-1
    #search.pure-g
      .pure-u-1-2
        %h4 What:
        %input.what{:value => 'Python, Ruby'}
      .pure-u-1-2
        %h4 Where:
        %input.where{:value => 'Sydney'}
    %h2= "#{@total} jobs hunted"
    %ul#listing
      - @jobs.each do |job|
        %li
          %p.post= time_ago_in_words(job.date, true, {:highest_measure_only => true}) + ' ago'
          %h4= link_to short_title(job.title), page_path('demo')
          %p=raw "#{job.company} - <span>#{job.location}</span>"
          %p.desc= summary(job.content)
    = paginate @jobs

  #promo{:class => 'pure-u-1 pure-hidden-phone'}
    %h3 Connect with Tech Savvy
    .social
      %a.facebook{href: '//facebook.com/TechSavvyJobs', target: '_blank'} Facebook
      %a.twitter{href: '//twitter.com/TechSavvyApp', target: '_blank'} Twitter
