#layout.pure-g-r
  #option.pure-u
    %h3 Position
    %ul
      = page_links({:design => 'Designer', :engineer => 'Engineer', :data => 'Data Science', :devop => 'Devops'})
      / %li Designer
      / %li Engineer
      / %li Data Science
      / %li Devops
      / %li Manager
      / %li Mobile Apps
      / %li Networks
      / %li Support

    %h3 Experience
    %ul
      %li Junior
      %li Mid Level
      %li Senior

    %h3 Location
    %ul
      %li Close locations...

  #main.pure-u-1
    %h2= "#{@total} Jobs"
    %ul#listing
      - @jobs.each do |job|
        %li
          %p.post= time_ago_in_words(job.date, true, {:highest_measure_only => true}) + ' ago'
          %h4= link_to short_title(job.title), page_path('demo')
          %p=raw "#{job.company} - <span>#{job.location}</span>"
          %p.desc= summary(job.content)
    = paginate @jobs

  #promo{:class => 'pure-u-1 pure-hidden-phone'}
    %h3 Connect with Tech Savvy
    .social
      %a.facebook{href: '//facebook.com/TechSavvyJobs', target: '_blank'} Facebook
      %a.twitter{href: '//twitter.com/TechSavvyJobs', target: '_blank'} Twitter
