!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'description', content: description}
    %meta{name: 'author', content: meta_author}
    %meta{name: 'keywords', content: meta_keywords}
    %meta{name: 'viewport', content: meta_viewport}
    %title= page_title(yield(:page_name))
    = stylesheet_link_tag 'main', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag
    = csrf_meta_tags
    /[if lt IE 9]
      %script{src: shim_url}

  %body
    #header
      %div{:class => 'pure-menu pure-menu-open pure-menu-horizontal pure-g-r'}
        %a.pure-menu-heading{:href => root_path}
          =raw 'Tech <span>Savvy</span> Jobs'
        %ul
          = page_links({root: 'Search', post: 'Post Job'})
        %ul{:class => 'right pure-u'}
          = page_links({contact: 'Contact Me', login: 'Sign In'})
    #container
      = yield
    #footer
      .wrapper
        .nav-menu
          = page_links({root: 'Search', post: 'Post Job', contact: 'Contact Me', login: 'Sign In'}, false)
        .copyright
          = "&#169; 2013 #{title} Pty Ltd".html_safe
